<!DOCTYPE html>
<html lang="en">

<head>
	<title>Crear producto</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../public/img/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/css/util.css">
	<link rel="stylesheet" type="text/css" href="../public/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="container-login100" style="background-image: url('../public/img/conductor.jpg');">
		<div class="wrap-loginpersonalizado p-l-55 p-r-55 p-t-50 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Producto
				</span>
				<input type="hidden" name="estado" value="true"/>
                <div class="wrap-input100 validate-input m-b-25" data-validate="Subir foto del producto">
                        <label class="control-label">Subir una imagen del producto</label>
                        <input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
                        <span class="focus-input100"></span>
                    </div>
				<div class="row">
                    <div class="col-6">
					<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el nombre del producto">
                        <input class="input100 text-secondary" type="text" name="username"
                            placeholder="Nombre del producto">
                        <span class="focus-input100"></span>
                    </div>
                </div>
					
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Seleccione el tipo de vehículo">
							<label class="control-label">Tipo de producto</label>
							<select class="form-control form-control-lg">
								<option>Seleccione..</option>
								<option>Alimenticio</option>
								<option>Medico</option>
							</select>
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el valor del producto">
							<input class="input100 text-secondary" type="text" name="username" placeholder="Precio">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la cantidad del producto">
							<input class="input100 text-secondary" type="number" name="username" placeholder="Cantidad">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la fecha de elaboración">
                            <label class="control-label">Fecha de elaboración</label>
							<input class="input100 text-secondary" type="date" name="fecha" placeholder="Fecha de elaboración">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la fecha de caducidad">
                            <label class="control-label">Fecha de caducidad</label>
							<input class="input100 text-secondary" type="date" name="Fecha de caducidad"
								placeholder="Fecha de caducidad">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn mr-2" type="submit">
						Guardar
                    </button>
                    <button class="login100-form-btn ml-2" type="submit">
						Regresar
					</button>
				</div>
		</div>
		</form>

	</div>
	</div>

	<!--===============================================================================================-->
	<script src="../public/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../public/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../public/vendor/bootstrap/js/popper.js"></script>
	<script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../public/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="../public/vendor/daterangepicker/moment.min.js"></script>
	<script src="../public/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../public/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="../public/js/main.js"></script>

</body>
</html>