<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Productos</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../public/img/favicon.png" rel="icon">
  <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="../public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../public/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../public/css/style.css" rel="stylesheet">
</head>

<body id="page-top">

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Productos
            </h3>
            
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="../public/img/pi.jpeg" data-lightbox="gallery-mf">
              <div class="work-img text-center">
                <img src="../public/img/pi.jpeg" alt="" class="img-fluid" width="270px">
              </div>

              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Pizzas</h2>
                    
                  </div>
                  <div class="col-sm-4">
                  
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../public/img/ma1.jpeg" data-lightbox="gallery-mf">
              <div class="work-img text-center">
                <img src="../public/img/ma1.jpeg" alt="" class="img-fluid"  width="285px">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Hamburguesas</h2>
                    
            
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../public/img/f1.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../public/img/f1.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Farmacéutico</h2>
                    
                  </div>
                
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../public/img/y.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../public/img/y.jpeg" alt="" class="img-fluid" width="330">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Yogurt</h2>
                    
                  </div>
                 
                 
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../public/img/a.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../public/img/a.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Atún</h2>
                    
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../public/img/ace.jpeg" data-lightbox="gallery-mf">
              <div class="work-img text-center">
                <img src="../public/img/ace.jpeg" alt="" class="img-fluid" width="230">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Aceite</h2>
                    
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->



  <!-- JavaScript Libraries -->
  <script src="../public/lib/jquery/jquery.min.js"></script>
  <script src="../public/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../public/lib/popper/popper.min.js"></script>
  <script src="../public/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../public/lib/easing/easing.min.js"></script>
  <script src="../public/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="../public/lib/counterup/jquery.counterup.js"></script>
  <script src="../public/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../public/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../public/lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../public/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../public/js/main.js"></script>

</body>
</html>
