<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Asociados</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body id="page-top">

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Asociados
            </h3>
            
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="../img/pi.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../img/pi.jpeg" alt="" class="img-fluid" width="330px">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Pizza Hut</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                  <div class="col-sm-4">
                  
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../img/ma1.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../img/ma1.jpg" alt="" class="img-fluid" >
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mc Donald's</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>
                      
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>
                      
                    </div>
            
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../img/e.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../img/e.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">El Hornero</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../img/b3.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../img/b3.jpg" alt="" class="img-fluid" width="325px" >
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Burguer King</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                 
                 
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../img/k.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../img/k.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">KFC</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../img/m.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../img/m.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">May Flower</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->



  <!-- JavaScript Libraries -->
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/popper/popper.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/easing/easing.min.js"></script>
  <script src="../lib/counterup/jquery.waypoints.min.js"></script>
  <script src="../lib/counterup/jquery.counterup.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/lightbox/js/lightbox.min.js"></script>
  <script src="../lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../js/main.js"></script>

</body>
</html>
