<form action="/admin"></form>
  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route container-login100 m-t-100" style="background-image: url('/img/trabajo.jpg');" >
    <div class="title-box text-center">
      <h3 class="title-a">
        Administración
      </h3>
      <div class="line-mf"></div>
    </div>
    <div class="container">
      <div class="text-center p-4 m-2">
        <div class="row">
          <div class="col-sm-6">
            <div class="work-box">
              <a href="/img/s2.jpg" data-lightbox="gallery-mf">
                <div class="work-img">
                  <img src="/img/s2.jpg" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="/servicio/lista">SERVICIOS</a>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="work-box">
              <a href="/img/asociados.jpg" data-lightbox="gallery-mf">
                <div class="work-img">
                  <img src="/img/asociados.jpg" alt="" class="img-fluid">
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="container-login100-form-btn">
                      <a class="login100-form-btn" href="/asociados">ASOCIADOS</a>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->
