<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Administración</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
   <link href="/src/public/img/favicon.png" rel="icon">
   <link href="/src/public/img/apple-touch-icon.png" rel="apple-touch-icon">
 
   <!-- Bootstrap CSS File -->
   <link href="/src/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
   <!-- Libraries CSS Files -->
   <link href="/src/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <link href="/src/public/lib/animate/animate.min.css" rel="stylesheet">
   <link href="/src/public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
   <link href="/src/public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
   <link href="/src/public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
 
   <!-- Main Stylesheet File -->
   <link href="/src/public/css/style.css" rel="stylesheet">
</head>

<body id="page-top">

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="title-box text-center">

      <h3 class="title-a">
        Administración
      </h3>

      <div class="line-mf"></div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="work-content">
                <div class="row">
                  <div class="container-login100-form-btn">
                      <a class="login100-form-btn" href="../views/servicios.html">PRODUCTOS</a>
                  </div>
                </div>
              </div>
            <div class="work-box">
              <a href="/src/public/img/s2.jpeg" data-lightbox="gallery-mf">
                <div class="work-img">
                  <img src="/src/public/img/s2.jpeg" alt="" class="img-fluid">
                </div>
              </a>
            </div>
      </div>
    </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->
 <!-- JavaScript Libraries -->
<script src="/src/public/lib/jquery/jquery.min.js"></script>
<script src="/src/public/lib/jquery/jquery-migrate.min.js"></script>
<script src="/src/public/lib/popper/popper.min.js"></script>
<script src="/src/public/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/src/public/lib/easing/easing.min.js"></script>
<script src="/src/public/lib/counterup/jquery.waypoints.min.js"></script>
<script src="/src/public/lib/counterup/jquery.counterup.js"></script>
<script src="/src/public/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/src/public/lib/lightbox/js/lightbox.min.js"></script>
<script src="/src/public/lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/src/public/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/src/public/js/main.js"></script>

</body>

</html>