>>>>>>> origin/jeniffer
  <!--/ Section Portfolio Star /-->
  <form action="/asociado/todo"></form>
  <section id="work" class="portfolio-mf sect-pt4 route m-t-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Asociados
            </h3>
            
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/pi.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/pi.jpg" alt="" class="img-fluid" width="330px">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Pizza Hut</h2>
                    <button type="button" class="btn btn-primary mr-2">Activar</button>
                        <button type="button" class="btn btn-danger ml-2">Desactivar</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/ma1.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/ma1.jpg" alt="" class="img-fluid" >
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mc Donald's</h2>
                    <button type="button" class="btn btn-primary mr-2">Activar</button>
                    <button type="button" class="btn btn-danger ml-2">Desactivar</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/e.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/e.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">El Hornero</h2>
                    <button type="button" class="btn btn-primary mr-2">Activar</button>
                    <button type="button" class="btn btn-danger ml-2">Desactivar</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/b3.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/b3.jpg" alt="" class="img-fluid" width="325px" >
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Burguer King</h2>
                    <button type="button" class="btn btn-primary mr-2">Activar</button>
                    <button type="button" class="btn btn-danger ml-2">Desactivar</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/k.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/k.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">KFC</h2>
                    <button type="button" class="btn btn-primary mr-2">Activar</button>
                    <button type="button" class="btn btn-danger ml-2">Desactivar</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/m.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/m.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">May Flower</h2>
                    <button type="button" class="btn btn-primary mr-2">Activar</button>
                        <button type="button" class="btn btn-danger ml-2">Desactivar</button>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->
