<form action="/catalogo/lista"></form>
<section class="m-t-120"> 
<h1 class="text-black text-center">Catálogo de productos</h1>
<div class="text-center mt-3">
    <a href="javascript:history.back(-1);" class="btn btn-outline-primary mr-2 mb-3">Regresar</a>
    <a href="/catalogo/crear" class="btn btn-outline-primary ml-2 mb-3">Crear tipo producto</a>
</div>
<div class="row ">
    <div class="col-8" style="margin-right:auto; margin-left:auto;">
        {{#each lista}}
        <table class="table table-hover table-responsive-sm text-center">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Tipo de producto
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        {{nombre_producto}}
                    </td>
                    <td>
                        <a href="/catalogo/editar/{{id_catalogo}}" class="btn btn-primary mr-2">Editar</a>
                        <a href="/catalogo/eliminar/{{id_catalogo}}" class="btn btn-danger ml-2">Eliminar</a>
                    </td>
                </tr>
                {{else}}
                <h1 class="text-danger text-center">No hay catálogo creado</h1>
                
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
</section>