<div class="container-login100 m-t-100" style="background-image: url('/img/counters-bg.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="/signup" method="POST" >
				<span class="login100-form-title p-b-37">
					Editar o Crear
				</span>
                     <div class="thumbnail text-center mt-2">
                        <a href="/img/icono agregar.png">
                            <img src="/img/collagecatalogo.jpeg" alt="imagen no encontrada" height="80" width="80"
                                class="rounded-circle" asp-append-version="true" />
                        </a>
                    </div>
                     <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese nombre del producto">
					<input class="input100" type="text" name="nombre_producto" placeholder="name">
					<span class="focus-input100"></span>
				    </div>
                    <div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Guardar
					</button>
				    </div>
                    <div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Cancelar
					</button>
				</div>
			</form>
		</div>
	</div>