	<div class="container-login100" style="background-image: url('/img/conductor.jpg');">
		<div class="wrap-loginpersonalizado p-l-55 p-r-55 p-t-50 p-b-30 m-t-90">
			<form class="login100-form validate-form" id="formulario" action="/producto/crear" method="POST"  > 
				<span class="login100-form-title p-b-37">
					Producto
				</span>
				<input type="hidden" name="estado" id="estado" value="1"/>
                </span>
                <div class="wrap-input100 validate-input m-b-25" data-validate="Subir foto del producto">
                        <label class="control-label letraMorada">Subir una imagen del producto</label>
                        <input type="file" class="form-control-file pb-2 ml-3" name="foto_producto">
                        <span class="focus-input100"></span>
                    </div>
				<div class="row">
                    <div class="col-6">
					<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el nombre del producto">
                        <input class="input100 text-secondary" type="text" name="nombre_producto"
                            placeholder="Nombre del producto">
                        <span class="focus-input100"></span>
                    </div>
                </div>
					
					<div class="col-6">
							<div class="wrap-input100 validate-input m-b-20" data-validate="Seleccione el tipo de vehículo">
							<label class="control-label letraMorada">Tipo de producto</label>
						<select class="form-control form-control-lg" name="catalogo_producto">
								<option>Seleccione...</option>
							{{#each catalogo}}
								<option>{{this.nombre}}</option>
							{{/each}}
							</select>
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el valor del producto">
							<input class="input100 text-secondary" type="text" name="valor" placeholder="Precio">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la cantidad del producto">
							<input class="input100 text-secondary" type="number" name="cantidad" placeholder="Cantidad">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20">
                            <label class="control-label letraMorada">Fecha de elaboración</label>
							<input class="input100 text-secondary" type="date" name="fecha_elab" placeholder="Fecha de elaboración">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-25">
                            <label class="control-label letraMorada">Fecha de caducidad</label>
							<input class="input100 text-secondary" type="date" name="fecha_cadu"
								placeholder="Fecha de caducidad">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn mr-2" type="submit">
						Guardar
                    </button>
                    <a href="javascript: history.go(-1)" class="login100-form-btn ml-2">
						Regresar
					</a>
				</div>
		</div>
		</form>

	</div>
	</div>