<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro Asociados</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/src/public/img/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/src/public/css/util.css">
    <link rel="stylesheet" type="text/css" href="/src/public/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="container-login100" style="background-image: url('../public/img/s2.jpg');">
        <div class="wrap-loginpersonalizado p-l-25 p-r-25 p-t-40 p-b-30">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-37">
                    Datos del asociado
                </span>
                <div class="wrap-input100 validate-input m-b-25 mt-2" data-validate="Subir foto del producto">
                    <div class="thumbnail text-center mt-2">
                        <a href="/src/public/img/s1.jpg">
                            <img src="/src/public/img/s1.jpg" alt="imagen no encntrada" height="80" width="80"
                                class="rounded-circle" asp-append-version="true" />
                        </a>
                    </div>
                    <label class="control-label ml-2">Subir una imagen del producto</label>
                    <input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
                    <span class="focus-input100"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese N° de identificación">
                            <input class="input100 text-secondary" type="text" name="username"
                                placeholder="N° identificación">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese nombre de la empresa">
                            <input class="input100 text-secondary" type="text" name="username"
                                placeholder="Nombre de la empresa">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la actividad comercial">
                            <input class="input100 text-secondary" type="text" name="username"
                                placeholder="Actividad comercial">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la dirección">
                            <input class="input100 text-secondary" type="text" name="username" placeholder="Dirección">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese correo electrónico">
                            <input class="input100 text-secondary" type="text" name="username"
                                placeholder="Correo electrónico">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
            <!--La foto-->
                </div>
                <div class="container-login100-form-btn">
					<button class="login100-form-btn mr-2" type="submit">
						Guardar
                    </button>
                    <button class="login100-form-btn ml-2" type="submit">
						Regresar
					</button>
				</div>
            </form>

        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
   
	<!--===============================================================================================-->
	<script src="/src/public/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/src/public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="/src/public/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/js/main.js"></script>


</body>

</html>