	<div class="container-login100 m-t-100" style="background-image: url('/img/s2.jpg');">
		<div class="wrap-loginmedio p-l-35 p-r-35 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="/servicio/editar/{{servicio.id_servicio}}" method="POST" >
				<span class="login100-form-title p-b-37">
					Editar Servicio
				</span>
					<input type="hidden" name="estado" value=1/>
					<div class="wrap-input100 validate-input m-b-25" data-validate="Subir foto del producto">
					 <img src="/imagenes/servicios/{{servicio.imagen}}" alt="imagen no encontrada" height="80" width="80"
                                class="rounded-circle" asp-append-version="true" />
                        <label class="control-label">Subir una imagen del servicio</label>
                        <input type="file" class="form-control-file pb-2 ml-3" name="imagen" value="{{servicio.imagen}}">
                        <span class="focus-input100"></span>
                    </div>
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingres el nombre ">
					<input class="input100" type="text" name="nombre" value="{{servicio.nombre}}" placeholder="Ingrese el nombre ">
					<span class="focus-input100"></span>
				</div>
				
				
                <br>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Guardar
					</button>
                </div>
                <br>
                <div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Cancelar
					</button>
				</div>		
			</form>	
		</div>
	</div>