<div class="container-login100 m-t-100" style="background-image: url('/img/counters-bg.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="/tipo/editar/{{tipo.id_tipo_ve}}" method="POST" >
				<span class="login100-form-title p-b-37">
					Editar tipo de vehículo
				</span>
                     <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese nombre del tipo de vehiculo">
					<input class="input100" type="text" name="nombre_tipo_vehiculo" value="{{tipo.nombre_tipo_vehiculo}}">
					<span class="focus-input100"></span>
				    </div>
                  <div class="container-login100-form-btn mb-2">
					<button class="login100-form-btn" type="submit">
						Guardar
					</button>
				    </div>
                    <div class="container-login100-form-btn mt-2">
					<a class="login100-form-btn" href="/tipo/lista" >
						Cancelar
					</a>
				</div>
			</form>
		</div>
	</div>