 <div class="container-login100 m-t-100" style="background-image: url('/img/conductor.jpg');">
        <div class="wrap-loginpersonalizado p-l-55 p-r-55 p-t-50 p-b-30">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-37">
                    Datos del conductor
                </span>
                <div class="wrap-input100 validate-input m-b-25 mt-2" data-validate="Subir foto del producto">
                    <div class="thumbnail text-center mt-2">
                        <a href="/img/1.jpg">
                            <img src="/img/1.jpg" alt="imagen no encntrada" height="80" width="80"
                                class="rounded-circle" asp-append-version="true" />
                        </a>
                    </div>
                    <label class="control-label ml-2">Subir una imagen del producto</label>
                    <input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
                    <span class="focus-input100"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su cedula de identidad">
                            <input class="input100" type="text" name="username" placeholder="Cédula de identidad">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su nombre">
                            <input class="input100" type="text" name="username" placeholder="Nombre">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su apellido">
                            <input class="input100" type="text" name="username" placeholder="Apellido">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese un número de telefono">
                            <input class="input100" type="number" name="pass" placeholder="Teléfono">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el correo electrónico">
                    <input class="input100" type="text" name="username" placeholder="Correo">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-25" data-validate="Subir su Curriculum">
                    <label class="control-label ml-2">Subir PDF</label>
                    <input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
                    <span class="focus-input100"></span>
                </div>
                <br>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn mr-2" type="submit">
                        Guardar
                    </button>
                    <button class="login100-form-btn ml-2" type="submit">
                        Regresar
                    </button>
                </div>
            </form>


        </div>
    </div>