	<div class="container-login100" style="background-image: url('/img/s2.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="/servicio/editar/{{servicio.id_servicio}}" method="POST" >
				<span class="login100-form-title p-b-37">
					Editar Servicio
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingres el nombre ">
					<input class="input100" type="text" name="nombre" value="{{servicio.nombre}}" placeholder="Ingrese el nombre ">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingres el nombre ">
					<input class="input100" type="file" name="imagen" value="{{servicio.imagen}}" placeholder="Foto ">
					<span class="focus-input100"></span>
				</div>
				
                <br>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Guardar
					</button>
                </div>
                <br>
                <div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Cancelar
					</button>
				</div>		
			</form>	
		</div>
	</div>