	<div class="container-login100 m-t-100" style="background-image: url('/img/conductor.jpg');">
	    <div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-7">
						<div class="thumbnail" style="align-content: center">
							<a href="/img/s2.jpeg">
								<img src="/img/s2.jpeg" alt="imagen no encntrada" height="200" width="200" class="rounded-circle" asp-append-version="true" />
							</a>
						</div>
						<br /><br />
						<h4 class="text-info">Nombre del Conductor/cedula</h4>
						<button class="login100-form-btn mt-3" type="submit">
							Regresar
						</button>
					</div>
						<div class="row">
							<div class="col-sm-12">
									<div class="text-primary">
										Tipo de vehiculo
									</div>
									<div class="pb-1">
										Vehiculo propio
									</div>
									<div class=" text-primary">
										Número de placa
									</div>
									<div class="pb-1">
										PWX-1722
									</div>
									<div class=" text-primary">
										Modelo
									</div>
									<div class="pb-1">
										ALTIMA
									</div>
									<div class=" text-primary">
										Año
									</div>
									<div class="pb-1">
										2019
									</div>
									<div class=" text-primary">
										Marca
									</div>
									<div class="pb-1">
										NISSAN 
									</div>
									<div class=" text-primary">
										Color
									</div>
									<div class="pb-1">
										Rojo
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	