  <!--/ Section Portfolio Star /-->
  <form action="/producto/todo"></form>
  <section id="work" class="portfolio-mf sect-pt4 route container-login100 m-t-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Productos
            </h3>
            
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/e.jpg" data-lightbox="gallery-mf">
              <div class="work-img text-center">  <img src="/img/e.jpg" alt="" class="img-fluid" width="270px">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Pizzas</h2>
                    
                  </div>
                  <div class="col-sm-4">
                  
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/ma1.jpg" data-lightbox="gallery-mf">
              <div class="work-img text-center">
                <img src="/img/ma1.jpg" alt="" class="img-fluid"  width="285px">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Hamburguesas</h2>
                    
            
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/f1.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/f1.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Farmacéutico</h2>
                    
                  </div>
                
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/y.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/y.jpg" alt="" class="img-fluid" width="330">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Yogurt</h2>
                    
                  </div>
                 
                 
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/a.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/img/a.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Atún</h2>
                    
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/img/ace.jpg" data-lightbox="gallery-mf">
              <div class="work-img text-center">
                <img src="/img/ace.jpg" alt="" class="img-fluid" width="230">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Aceite</h2>
                    
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->