<!DOCTYPE html>
<html lang="es">
<head>
	<title>Login trabajador</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/src/public/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="/src/public/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background-image: url('/src/public/img/trabajo.jpeg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Trabaje con nosotros
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingres su nombre y apellido">
					<input class="input100" type="text" name="username" placeholder="Nombre y Apellido">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Ingrese un número de telefono">
					<input class="input100" type="number" name="pass" placeholder="Teléfono">
					<span class="focus-input100"></span>
                </div>
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el correo electrónico">
					<input class="input100" type="text" name="username" placeholder="Correo">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-25" data-validate="Subir su Curriculum">
					<label class="control-label">Subir PDF</label>
					<input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
					<span class="focus-input100"></span>
				</div>
                <br>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Registrarse
					</button>
				</div>

			

				
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/src/public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/src/public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/src/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/src/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/src/public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/src/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="/src/public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/src/public/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/src/public/js/main.js"></script>
</body>
</html>