
	<div class="container-login100 m-t-100" style="background-image: url('/img/trabajo.jpeg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Trabaje con nosotros
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingres su nombre">
					<input class="input100" type="text" name="username" placeholder="Nombre">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingres su apellido">
					<input class="input100" type="text" name="username" placeholder="Apellido">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Ingrese un número de telefono">
					<input class="input100" type="number" name="pass" placeholder="Teléfono">
					<span class="focus-input100"></span>
                </div>
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el correo electrónico">
					<input class="input100" type="text" name="username" placeholder="Correo">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-25" data-validate="Subir su Curriculum">
					<label class="control-label">Subir PDF</label>
					<input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
					<span class="focus-input100"></span>
				</div>
                <br>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Registrarse
					</button>
				</div>
				</form>	
		</div>
	</div>