<div class="container-login100 m-t-100" style="background-image: url('/img/asociado.jpg');">
		<div class="wrap-loginpersonalizado p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Asociados
				</span>
				<input type="hidden" name="estado" value="true"/>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese N° de identificación">
							<input class="input100 text-secondary" type="text" name="username" placeholder="N° identificación">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese nombre de la empresa">
							<input class="input100 text-secondary" type="text" name="username" placeholder="Nombre de la empresa">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la actividad comercial">
					<input class="input100 text-secondary" type="text" name="username" placeholder="Actividad comercial">
					<span class="focus-input100"></span>
				</div>
					</div>
					<div class="col-6">
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la dirección">
					<input class="input100 text-secondary" type="text" name="username" placeholder="Dirección">
					<span class="focus-input100"></span>
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese los servicios">
					<input class="input100 text-secondary" type="text" name="username" placeholder="Servicios">
					<span class="focus-input100"></span>
					
							<select class="form-control form-control-lg">
								<option>Seleccione..</option>
								<option>Transporte</option>
								<option>Mudanza</option>
								<option>Fletes</option>
								<option>Entregas a domicilio</option>
								<option>Cursos</option>
								<option>Productos</option>
							</select>
				</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese correo electrónico">
					<input class="input100 text-secondary" type="text" name="username" placeholder="Correo electrónico">
				<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la dirección">
					<input class="input100 text-secondary" type="text" name="username" placeholder="Dirección">
					<span class="focus-input100"></span>
				</div>
					</div>
						<div class="col-6">
				<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la contraseña">
					<input class="input100 text-secondary" type="password" name="pass" placeholder="Contraseña">
					<span class="focus-input100"></span>
				</div>
						</div>
				</div>
				<div class="row">
					<div class="col-6">
				<div class="wrap-input100 validate-input m-b-25" data-validate="Confirme su contraseña">
					<input class="input100 text-secondary" type="password" name="pass" placeholder="Confirmar contraseña">
					<span class="focus-input100"></span>
				</div>
					</div>
				<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese correo electrónico">
					<input class="input100 text-secondary" type="password" name="pass" placeholder="Correo electrónico">
					<span class="focus-input100"></span>
				</div>
				</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la fotografía">
							<label class="control-label">Subir imagen</label>
							<input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
				<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la contraseña">
					<input class="input100 text-secondary" type="password" name="pass" placeholder="Contraseña">
					<span class="focus-input100"></span>
				</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Confirme su contraseña">
							<input class="input100 text-secondary" type="text" name="username" placeholder="Confirmar contraseña">
							<span class="focus-input100"></span>
						</div>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Registrarse
					</button>
				</div>

			</form>

		</div>
	</div>