<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registro Conductores</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/src/public/img/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="/src/public/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="container-login100" style="background-image: url('/src/public/img/conductor.jpg');">
		<div class="wrap-loginpersonalizado p-l-55 p-r-55 p-t-50 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Conductores
				</span>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Seleccione el tipo de vehículo">
							<label class="control-label">Tipo de vehículo</label>
							<select class="form-control form-control-lg">
								<option>Seleccione..</option>
								<option>Rentado</option>
								<option>Cooperativa</option>
							</select>
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el número de placa">
							<input class="input100 text-secondary" type="text" name="username"
								placeholder="Número de placa">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el modelo del vehículo">
							<input class="input100 text-secondary" type="text" name="username" placeholder="Modelo">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese la marca del vehículo">
							<input class="input100 text-secondary" type="text" name="username" placeholder="Marca">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el color">
							<input class="input100 text-secondary" type="text" name="username" placeholder="Color">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese el año del vehículo">
							<input class="input100 text-secondary" type="text" name="pass"
								placeholder="Año del vehículo">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la fotografía">
							<label class="control-label">Subir una imagen del vehículo</label>
							<input type="file" class="form-control-file pb-2 ml-3" id="exampleFormControlFile1">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
					<div class="col-6">
						<div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la contraseña">
							<input class="input100 text-secondary" type="password" name="pass" placeholder="Contraseña">
							<span class="focus-input100"></span>
						</div>
					</div>
						<div class="wrap-input100 validate-input m-b-25" data-validate="Confirme su contraseña">
							<input class="input100 text-secondary" type="password" name="pass"
								placeholder="Confirmar contraseña">
							<span class="focus-input100"></span>
						</div>
					
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Registrarse
					</button>
				</div>
		</div>
		</form>

	</div>
	</div>



	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="/src/public/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/bootstrap/js/popper.js"></script>
	<script src="/src/public/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/daterangepicker/moment.min.js"></script>
	<script src="/src/public/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="/src/public/js/main.js"></script>

</body>

</html>