<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Servicios</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/src/public/img/favicon.png" rel="icon">
  <link href="/src/public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="/src/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/src/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/src/public/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/src/public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/src/public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/src/public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../public/css/style.css" rel="stylesheet">
</head>

<body id="page-top">

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Servicios
            </h3>
            
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="/src/public/img/s2.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/src/public/img/s2.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Transporte</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                  <div class="col-sm-4">
                  
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/src/public/img/2.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/src/public/img/2.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mudanza</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>
                      
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>
                      
                    </div>
            
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/src/public/img/1.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/src/public/img/1.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Fletes</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/src/public/img/4.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/src/public/img/4.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Entregas a domicilio</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                 
                 
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/src/public/img/c3.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/src/public/img/c3.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Cursos</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/src/public/img/p3.jpeg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/src/public/img/p3.jpeg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Productos</h2>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn">
                       Activar
                      </button>              
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
                      <button class="login100-form-btn1">
                      Desactivar
                      </button>                     
                    </div>
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->
<!-- JavaScript Libraries -->
<script src="/srcpublic/lib/jquery/jquery.min.js"></script>
<script src="/srcpublic/lib/jquery/jquery-migrate.min.js"></script>
<script src="/srcpublic/lib/popper/popper.min.js"></script>
<script src="/srcpublic/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/srcpublic/lib/easing/easing.min.js"></script>
<script src="/srcpublic/lib/counterup/jquery.waypoints.min.js"></script>
<script src="/srcpublic/lib/counterup/jquery.counterup.js"></script>
<script src="/srcpublic/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/srcpublic/lib/lightbox/js/lightbox.min.js"></script>
<script src="/srcpublic/lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/src/public/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/src/public/js/main.js"></script>

</body>
</html>
