<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav"> <!--fixed-top-->
    <div class="container">
      <a class="navbar-brand js-scroll" href="/">SHUAR WEB</a>
      
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault"> 
        <ul class="navbar-nav">
            {{#if user}}
           <li class="nav-item">
            <a class="nav-link js-scroll active" href="/signup">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/logout">Salir</a>
          </li>
                {{else}}
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/adminlogin">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" target="_blank" href="https://www.todaunavida.gob.ec/medidas-de-prevencion-frente-al-nuevo-coronavirus-covid-19-en-grupos-prioritarios/">Covid-19</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
      





